body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

header {
    background-color: chocolate;
    color:blue;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    background-color: aquamarine;
    padding: 20px
}

